[secrets]
	providers = /Users/bengoshow/secrets/provider.js
[init]
	templatedir = ~/.git-template
[user]
	name = Ben Goshow
	signingkey = 2BE01833
	email = goshow@heysparkbox.com
[commit]
	gpgsign = true
	template = /Users/bengoshow/.gitmessage.txt
[core]
	editor = code --wait
